:root {
    --amarelo: #f6b60d;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Verdana";
}

header {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--amarelo);
    border-bottom: 2px solid black;
    font-weight: bold;
}

.logo {
    margin-top: 8px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.texto-logo {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-logo p {
    margin: 0;
}

.texto-logo h1 {
    font-size: 20px;
    margin: 0;
}

.logo img {
    height: 35px;
}

ul {
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: black; 
}

a:visited {
    color: black;
}


.botao-header {
    width: 80px;
    padding: 12px;
    border-radius: 3px;
    background-color: black;
    color: var(--amarelo);
    border: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}