:root {
    --amarelo: #f6b60d;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
}

.sidebar {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 90vh;
    background-color: black;
    border-right: 3px solid var(--amarelo);
    color: var(--amarelo);
    text-align: center;
    font-size: 12px;
}

.sidebar a {
    color: var(--amarelo);
    font-weight: bold;
    text-decoration: underline;
}

#feed {
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20vw;
}

#feed h1 {
    width: 90%;
    text-align: left;
    margin-bottom: 0;
    font-size: 23px;
}

.publicacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    width: 80%;
    margin-top: 5vh;
    padding: 1%;
    border: 1px solid black;
}

.publicacao span {
    font-size: 14px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    margin-left: 25vw;
    padding: 50px 0 50px 0;
}

.container h1 {
    font-size: 23px;
}

.container .div_form span {
    font-size: 20px;
}

#form_postagem span{
    font-weight: bold;
    font-size: 14px;
}

label input {
    width: 30%;
    height: 22px;
    border: 1px solid var(--amarelo);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

label textarea {
    width: 50%;
    height: 200px;
    border: 1px solid var(--amarelo);
    border-radius: 5px;
    resize: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

button {
    width: fit-content;
    padding: 12px;
    border-radius: 3px;
    background-color: black;
    color: var(--amarelo);
    border: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.div_editar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    width: 45vw;
    margin-top: 10vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

.div_editar .titulo_editar {
    width: 70%;
    color: var(--amarelo);
    text-align: center;
    font-size: 18px;
}

.div_editar input {
    width: 30%;
    height: 22px;
    border: 1px solid var(--amarelo);
    border-radius: 5px;
}

.div_editar textarea {
    width: 70%;
    height: 30%;
    border: 1px solid var(--amarelo);
    border-radius: 5px;
    resize: none;
}